<html>

<head>
	<script src="mastermind.js"></script>
</head>

<body>
    <p>The code you picked is <%= firstColor %>, <%= secondColor %>, <%= thirdColor %>, <%= fourthColor %></p>
    <button type="button" onclick="nextGuess()">Next Guess</button>
	<div id=guesses></div>
</body>

</html>